html,body{
	height: 80%;
}
div{
	color:#D9D9D9;
	background: #C44522;
	text-align: center;
	position: relative;
	padding: 2em 0 2em 0;
}
form li{
	display: inline-block;
	
}
form li input {
	color:#000000;
}
#logo{
	height: 100%;
	background: #FFFFFF;
}
footer{
	text-align: center;
	padding: 2em 0 1em 0;
	background:#000000;
}
footer h2{
	color:#E9E9E9;
}

.btn-pc-ingresar{
	border: none;
	border-radius: 4px 4px 4px 4px;
	padding: 0.3em;
	background: #EDEDED;
	color: #7F7F7F;
}