/*Estilo base de la pagina */
*{
	margin: 0px;
	padding: 0px;
}
body{

	background: #EDEDED;
}
body{
	margin: 0px;
	height: 100%;
}

/* cabecera */

header {
	background-image: url("../imagenes/banner/banner6.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
header #logo_alcocerti{
	margin: 0 auto;
	text-align: center;
	width: 150px;
}
header #slogan p{
	color:#353535;
}


/* Menu principal */
nav{	
	background: #F2F2F2;

}
#menu_principal{
	color: #727272;
}
#menu_principal li{
	border-bottom: 1px solid #EDEDED;
	padding: 1em 0 1em 0;
	display: block;
	width: 100%;
	text-align: center;
}
#menu_principal li:hover{
	color:#C42700;
	border-bottom: 1px solid #C42700;
}
#redes_sociales{
	display: none;
}
#menu_principal li a{
	color: #727272;
	text-decoration: none;
}
#menu_principal li a:hover{
	color:#C42700;
}
/**/

#content{
	margin-top:-25px; 
	height: 100%;
}
#content #fondo{
	position: relative;
	margin: 0px;
	background:#FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

}
#content #fondo section{
	background:#FF5C08;
	margin: 0px;
	height: 100%;

}
#content #fondo section h1{
	color:#757575;
	background:#EDEDED;
	font-size: 35px;
	padding-top: 5em;
	padding-bottom: 5em;
	text-align: center;
	width: 100%;
}
#content #fondo section article{
	text-align: center;
	padding-top: 2em;
	padding-bottom: 4em;
}
#content #fondo section article ul li{
	list-style: none;
	display: inline-block;
}
#content #fondo section article ul li img{
	border-radius: 100px;
	background: #E8E8E8;
	height: 180px;
	width: 180px;
}
#content #fondo section article ul li img:hover{
	background: #FF3434;
}

/* footer */



footer {
	background: #000000;
	color:#FFFFFF;
	padding: 4em 0 4em 0;
}
footer h4{
	text-align: center;
}