/*estilos del Panel de control */

body,html{
	height: 100%;
	margin: 0;
}
body {
	max-width: 1200px;
	margin: 0 auto;
}
header {
	background-color: #EDEDED;
	padding: 2em 0 2em 0;
}
header li {
	text-align: right;
	list-style: none;
}
nav {
	padding: 0.5em 0 0.5em 0;
	color: #EDEDED;
	background: #000000
}
nav ul li{
	padding: 0 0.5em 0 0.5em;
	display: inline-block;
}
nav ul li:hover{
	color: #F51013;
}
#content{
	height: 90%;
}
#content #usuario {
	position: relative;
}
#content #usuario form{
	width: 350px;
}

footer{
	text-align: center;
	padding: 1em 0 1em 0;
	background: #000000;
	color:#EDEDED;
}
