#lista_categorias,#content_productos{
	padding-top: 2em;
	display: block;
	vertical-align: top;
}
#lista_categorias{
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}
#lista_categorias ul{
	color: #FFFFFF;
	list-style: none;
}
#lista_categorias ul li a{
	text-decoration: none;
	color: #EFEFEF;
	padding: 1.2em 1em 1.2em 1em;
}
#lista_categorias ul li{
	background: #C44522;
	border-bottom: 1px solid #EDEDED;
	border-radius: 6px 6px 6px 6px;
	margin-top: 2px;
	display: block;
	padding: 1.2em 0 1.2em 0;
}
#lista_categorias ul li:hover{
	background: #E86607;
}
#lista_categorias ul li a:hover{
	color: #EFEFEF;
}

#content_productos{
	margin: 0px;
	width: 100%;
}

#content_productos #lista_productos ul{
	list-style: none;
	text-align: center;
}

#content_productos #lista_productos ul li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	text-align: center;

	transition: background 0.5s;
	transition: -webkit-background 0.5s;
	transition: -moz-background 0.5s;
	transition: -o-background 0.5s;
	transition: -ms-background 0.5s;
}
#content_productos #lista_productos ul li:hover {
	background: rgba(220, 220, 220, 0.7);
}
#content_productos #lista_productos ul li img{
	height: 200px;
	width: 200px;

	transition: transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: -moz-transform 0.5s;
	transition: -o-transform 0.5s;
	transition: -ms-transform 0.5s;

}
#content_productos #lista_productos ul li img:hover{
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);

}
#content_productos #lista_productos ul li h4{
	color: #6A6A6A;
}
#content_productos #lista_productos ul li p{
	background: #353535;
	border-radius:6px 6px 6px 6px;
	color: #E1E1E1;
	font-size: 12px; 
	width: 200px;
}
#content_productos #lista_productos ul #logo2 {
	text-align: center;
}
#content_productos #lista_productos ul #logo2 img{
	width: 100%;
}

