#lista_categorias,#content_productos{
	padding-top: 2em;
	display: block;
	vertical-align: top;
}
#lista_categorias{
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}
#lista_categorias ul{
	color: #FFFFFF;
	list-style: none;
}
#lista_categorias ul li a{
	text-decoration: none;
	color: #EDEDED;
}
#lista_categorias ul li{
	background:#727272;
	border-bottom: 1px solid #EDEDED;
	margin-top: 2px;
	display: block;
	padding: 1.5em 0 1.5em 0;
}
#lista_categorias ul li:hover{
	background:#E57070;
}
#lista_categorias ul li a:hover{
	color: #AD0000;
}

#content_productos{
	margin: 0px;
	width: 100%;
}

#content_productos #lista_productos ul{
	list-style: none;
	text-align: center;
}

#content_productos #lista_productos ul li{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	text-align: center;

}
#content_productos #lista_productos ul li img{
	height: 250px;
	width: 250px;
}

