#content_servicio{
	margin-top: 28px;
}
#content_servicio #servicios {
	padding: 7em 0 7em 0;
	text-align: center;
}
#content_servicio #servicios ul h3{
	color: #AFAFAF;
	padding: 1em 0 1em 0;
	font-size: 20px;
}
#content_servicio #servicios ul li {
	color: #F6F6F6;
	vertical-align: top;
	display: inline-block;
	width: 250px;
	height: 250px; 
	margin-bottom: 10px;

	transition: background 5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
}
#content_servicio #servicios ul li:hover {
	color: #AAAAAA;
	background: rgba(220, 220, 220, 0.7);
	
}
#content_servicio #servicios ul li img{
	border-radius: 100px;
	height: 150px;
	width: 150px;
}
#content_servicio #servicios ul li h4{
	font-size: 15px;
}
#content_servicio #soporte,#ventas,#instalacion{
	padding: 7em 0 7em 0;
	text-align: center;
}
#content_servicio #soporte{
	background: #FF8585;
}
#content_servicio #soporte h4{
	color: #F0F0F0;
	font-size: 35px;
	padding: 1em 0 1em 0;
}
#content_servicio #soporte figure{
	width: 30%;
}
#content_servicio #soporte p{
	width: 60%;
}
#content_servicio #soporte figure,p{
	display: inline-block;
}
#content_servicio #ventas{
	background: #12A5FF;
}
#content_servicio #ventas h4{
	font-size: 35px;
	padding: 1em 0 1em 0;
}
#content_servicio #ventas figure{
	width: 30%;
}
#content_servicio #ventas p{
	width: 60%;
}
#content_servicio #ventas figure,p{
	display: inline-block;
}
#content_servicio #instalacion{
	background: #FFB162
}
#content_servicio #instalacion h4{
	font-size: 35px;
	padding: 1em 0 1em 0;
}
#content_servicio #instalacion figure{
	width: 30%;
}
#content_servicio #instalacion p{
	width: 60%;
}
#content_servicio #instalacion figure,p{
	display: inline-block;
}

.ventas,.soporte,.instalacion{
	padding: 1em;
	border-radius: 50px;
}
.ventas{
	background-color: #12A5FF;
}
.soporte{
	background-color: #FF8585;
}
.instalacion{
	background-color: #FFB162;
}